.button {
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-radius: 1px;
  border-color: var(--color-dark-tangerine);
  border-radius: 5px;
  color: var(--color-eerie-black);
}

.primary_button {
  background-color: var(--color-dark-tangerine);
}

.secondary_button {
  background-color: #c07d00;
  border-color: #c07d00;
}

.border_only_button {
  background-color: var(--color-eerie-black);
  border-color: var(--color-dark-tangerine);
  color: var(--color-dark-tangerine);
}
