<!doctype html>
<html layout:decorate="~{layout/admin}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Edit Post</title>
  </head>

  <body>
    <div layout:fragment="admin-content">
      <div class="text-center">
        <h1>Post Editor</h1>
      </div>
      <details>
        <summary>Configuration</summary>
        <div class="post-configuration">
          <h2>Core</h2>
          <input id="visible" name="visible" th:checked="${post.visible}" type="checkbox" />
          <label for="visible">Post is visible</label>
          <input id="updateDate" name="updateDate" type="checkbox" />
          <label for="updateDate">Update date</label>
          <h2>Tags</h2>
          <div th:if="${tags}">
            <form method="POST" th:action="@{/admin/tag/detach}">
              <input name="post_id" type="hidden" th:value="${post.id}" />
              <button
                class="primary-button"
                title="Detach"
                name="tag_id"
                th:each="tag : ${tags}"
                th:text="${tag.name}"
                th:value="${tag.id}"
              >
                Tag
              </button>
            </form>
          </div>
          <!-- todo: add a form to attach or create and attach a tag -->
        </div>
      </details>
      <form class="editor-form" method="POST" th:action="@{/admin/post/{id}(id=${post.id})}">
        <input name="id" required th:value="${post.id}" type="hidden" />
        <div>
          <input autocomplete="off" name="title" placeholder="title" required th:value="${post.title}" type="text" />
        </div>
        <div>
          <textarea name="summary" placeholder="summary" required rows="5" th:text="${post.summary}"></textarea>
        </div>
        <div>
          <textarea name="text" placeholder="text" rows="30" th:text="${post.text}"></textarea>
        </div>
        <div class="text-center">
          <button class="primary-button" type="submit">Save</button>
        </div>
      </form>
      <form class="editor-form text-center" method="POST" th:action="@{/admin/post/{id}/delete(id=${post.id})}">
        <button class="secondary-button" type="submit">Delete</button>
      </form>
      <script th:src="@{/js/editor.js}"></script>
    </div>
  </body>
</html>
