<!doctype html>
<html layout:decorate="~{layout/admin}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Edit Post</title>
  </head>

  <body>
    <div layout:fragment="admin-content">
      <div class="text-center">
        <h1>Post Editor</h1>
      </div>
      <details>
        <summary>Tags</summary>
        <div class="post-configuration">
          <form method="POST" th:action="@{/admin/tag/attach}">
            <p>Attach tag</p>
            <input name="post_id" type="hidden" th:value="${post.id}" />
            <input name="tag_name" type="text" placeholder="Tag..." required />
            <button class="primary-button" type="submit">Attach</button>
          </form>
        </div>
        <div class="post-configuration">
          <form method="POST" th:action="@{/admin/tag/attach}">
            <p>Recommended tags</p>
            <input name="post_id" type="hidden" th:value="${post.id}" />
            <button
              class="primary-button"
              title="Attach"
              name="tag_id"
              th:each="tag : ${recommendedTags}"
              th:text="${tag.name}"
              th:value="${tag.id}"
            >
              Tag
            </button>
          </form>
        </div>
        <div class="post-configuration" th:if="${tags}">
          <form method="POST" th:action="@{/admin/tag/detach}">
            <p>Attached tags</p>
            <input name="post_id" type="hidden" th:value="${post.id}" />
            <button
              class="primary-button"
              title="Detach"
              name="tag_id"
              th:each="tag : ${tags}"
              th:text="${tag.name}"
              th:value="${tag.id}"
            >
              Tag
            </button>
          </form>
        </div>
      </details>
      <form class="editor-form" method="POST" th:action="@{/admin/post/{id}(id=${post.id})}">
        <details>
          <summary>Options</summary>
          <div class="post-configuration">
            <input id="visible" name="visible" th:checked="${post.visible}" type="checkbox" />
            <label for="visible">Post is visible</label>
            <input id="updateDate" name="updateDate" type="checkbox" />
            <label for="updateDate">Update date</label>
          </div>
        </details>
        <input name="id" required th:value="${post.id}" type="hidden" />
        <div>
          <input
            class="width-100-p"
            autocomplete="off"
            name="title"
            placeholder="title"
            required
            th:value="${post.title}"
            type="text"
          />
        </div>
        <div>
          <textarea
            class="width-100-p"
            name="summary"
            placeholder="summary"
            required
            rows="5"
            th:text="${post.summary}"
          ></textarea>
        </div>
        <div>
          <textarea class="width-100-p" name="text" placeholder="text" rows="30" th:text="${post.text}"></textarea>
        </div>
        <div class="text-center">
          <button class="primary-button" type="submit">Save</button>
        </div>
      </form>
      <form class="editor-form text-center" method="POST" th:action="@{/admin/post/{id}/delete(id=${post.id})}">
        <button class="secondary-button" type="submit">Delete</button>
      </form>
      <script th:src="@{/js/editor.js}"></script>
    </div>
  </body>
</html>
