<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">

<head>
  <title>Admin Panel</title>
</head>

<body>
<div layout:fragment="content">
  <div class="text-center">
    <h1>Post Editor</h1>
  </div>
  <form class="editor-form" th:action="@{/admin/post}" method="POST">
    <div>
      <input name="title" type="text" placeholder="title" autoComplete="off" required/>
    </div>
    <div>
      <textarea name="summary" rows="5" placeholder="summary" required></textarea>
    </div>
    <div>
      <textarea name="text" rows="30" placeholder="text"></textarea>
    </div>
    <div class="post-options">
      <input name="visible" type="checkbox" id="visible"/>
      <label for="visible">Post is visible</label>
      <input name="updateDate" type="checkbox" id="updateDate"/>
      <label for="updateDate">Update date</label>
    </div>
    <div class="text-center">
      <button type="submit" class="primary-button">Save</button>
    </div>
  </form>
  <script src="/js/editor.js"></script>
</div>
</body>

</html>