services:
  blog:
    image: blog
    container_name: blog
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - /path/to/permanent/media/storage:/media
