<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title layout:title-pattern="$CONTENT_TITLE — Fake Plastic Trees">Fake Plastic Trees</title>
    <meta charset="UTF-8" />
    <meta content="A simple blog about technical topics, life and other things." name="description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="@placebo@mastodon.ie" name="fediverse:creator" />
    <link rel="icon" th:href="@{/favicon.ico}" />
    <link rel="alternate" th:href="@{/feed.xml}" title="Latest posts" type="application/rss+xml" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div>
          <a th:href="@{/}">
            <img alt="Site logo" class="logo" th:src="@{/images/layout/logo.gif}" />
          </a>
        </div>
        <ul>
          <li>
            <a th:href="@{/}">
              <img alt="Posts" th:src="@{/images/layout/menu-posts.gif}" />
            </a>
          </li>
          <li>
            <a th:href="@{/search}">
              <img alt="Search" th:src="@{/images/layout/menu-search.gif}" />
            </a>
          </li>
          <li>
            <a th:href="@{/feed.xml}">
              <img alt="RSS" th:src="@{/images/layout/menu-rss.gif}" />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div layout:fragment="content"></div>
    </main>
    <footer>
      <div>
        <a th:href="@{/contact}">contact</a>
        <a th:href="@{/license}">license</a>
        <a href="https://github.com/parfentjev/simple-blog" target="_blank">source</a>
      </div>
      <div>
        <a th:href="@{/banner}"><img alt="Banner" th:src="@{/images/banner.png}" /></a>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script th:src="@{/js/main.js}"></script>
  </body>
</html>
