.seasonal {
    text-align: center;
    width: 100%;
    margin: 3rem auto;
}

.seasonal img {
    max-width: 5vw;
    max-height: 100px;
}
/*
    filter: brightness(75%);
}

.seasonal img:hover {
    filter: brightness(100%);
}
*/
