.title {
  margin: 0 0 1rem 0;
  text-align: center;
}

.text {
  margin: 1rem auto;
}

.date {
  display: inline-block;
  width: 50%;
  margin: 0;
}

.categories {
  text-transform: lowercase;
  display: inline-block;
  width: 50%;
  margin: 0;
  text-align: right;
}

.actions {
  text-transform: lowercase;
  margin: 0;
  text-align: right;
}

.read {
  text-align: right;
}

.post img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 10px;
}

.post code {
  color: #ffc251;
}

.post pre code {
  overflow: scroll;
  display: block;
}

@media (min-width: 640px) {
  .text {
    width: 90%;
  }
}
