<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Banner</title>
</head>
<body>
<div layout:fragment="content">
  <p>Hi! Please share my awesome banner on your website!</p>
  <p>
    <code>&lt;a href=&quot;https://fakeplastictrees.ee/&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://fakeplastictrees.ee/images/banner.png&quot;
      alt=&quot;fakeplastictrees.ee banner&quot;/&gt;&lt;/a&gt;</code>
  </p>
</div>
</body>
</html>
