<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Contact me</title>
</head>
<body>
<div layout:fragment="content">
  <div>
    <h1 class="text-center">Contact me</h1>
    <p>You can reach me via:</p>
    <ul>
      <li>Email: <a href="mailto:aleksei@fakeplastictrees.ee" target="_blank">aleksei@fakeplastictrees.ee</a></li>
      <li>Signal: <a href="https://signal.me/#eu/QXykujR4SCPyiN4CdhiTowpJH2jbwlhEux2dKHoQXj2yOR2xp6JPq6fMYypZWK_m"
                     target="_blank">signal.me</a></li>
      <li>Mastodon: <a href="https://mastodon.ie/@placebo" target="_blank">mastodon.ie/@placebo</a></li>
    </ul>
    <p>Please note that this is a personal blog. While I share some findings and technical solutions, they are based on
      my personal experiences and subjective opinions. I do not provide technical support, but I welcome feedback and
      healthy discussions.</p>
  </div>
</div>
</body>
</html>
