<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <div class="text-center">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <div>
                <input name="username" type="text" placeholder="username" autoComplete="off" required/>
            </div>
            <div>
                <input name="password" type="password" placeholder="password" required/>
            </div>
            <div class="text-error" th:if="${param.error}">
                Invalid username or password.
            </div>
            <button type="submit" class="primary-button">
                Login
            </button>
        </form>
    </div>
</div>
</body>
</html>
