<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Login</title>
</head>
<body>
<div layout:fragment="content">
  <div class="text-center">
    <h1>Login</h1>
    <form method="post" th:action="@{/login}">
      <div th:if="${message}" th:text="${message}"></div>
      <div>
        <input autoComplete="off" name="username" placeholder="username" required type="text"/>
      </div>
      <div>
        <input name="password" placeholder="password" required type="password"/>
      </div>
      <div class="text-error" th:if="${param.error}">
        Invalid username or password.
      </div>
      <button class="primary-button" type="submit">
        Login
      </button>
    </form>
  </div>
</div>
</body>
</html>
