<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Register</title>
</head>
<body>
<div layout:fragment="content">
  <div class="text-center">
    <h1>Register</h1>
    <form method="post" th:action="@{/register}">
      <div>
        <input autoComplete="off" name="username" placeholder="username" required type="text"/>
      </div>
      <div>
        <input name="password" placeholder="password" required type="password"/>
      </div>
      <div class="text-error" th:if="${error}" th:text="${error}"></div>
      <button class="primary-button" type="submit">
        Register
      </button>
    </form>
  </div>
</div>
</body>
</html>
