<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Search</title>
</head>
<body>
<div layout:fragment="content">
  <div class="text-center">
    <h1>Search</h1>
    <form action="https://duckduckgo.com/" method="get" target="_blank">
      <input autocomplete="off" autofocus name="q" placeholder="Search query..." required type="text">
      <input name="sites" type="hidden" value="fakeplastictrees.ee">
      <button class="primary-button" type="submit">Search</button>
    </form>
  </div>
</div>
</body>
</html>
