<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>Search</title>
</head>
<body>
<div layout:fragment="content">
    <div class="text-center">
        <h1>Search</h1>
        <form action="https://duckduckgo.com/" method="get" target="_blank">
            <input type="text" name="q" placeholder="Search query..." autofocus autocomplete="off" required>
            <input type="hidden" name="sites" value="fakeplastictrees.ee">
            <button class="primary-button" type="submit">Search</button>
        </form>
    </div>
</div>
</body>
</html>
