<!doctype html>
<html
  layout:decorate="~{layout/base}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>Social Feed</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div th:each="post : ${posts}">
        <div th:text="${post.text}">Text content</div>
        <hr />
      </div>
      <script data-allowed-prefixes="https://mastodon.ie/@placebo" async src="https://mastodon.ie/embed.js"></script>
    </div>
  </body>
</html>
