<header>
    <nav>
        <button class="border-only" onclick="toggleMenu()">show menu</button>
        <ul id="menu">
            <li>
                <a href="/">
                    posts
                </a>
            </li>
            <li>
                <a href="/search">
                    search
                </a>
            </li>
            <li>
                <a href="/feed.xml">
                    rss
                </a>
            </li>
        </ul>
    </nav>
</header>