/* core configuration */
@import '/styles/retro/colors.css';

body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('/images/retro/background.gif');
    color: var(--color-text);
}

/* common elements */
a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary-hover);
}

main {
    margin: 3rem 0;
}

h1 {
    color: var(--color-primary);
    text-transform: capitalize;
}

article {
    margin: 3rem 0 3rem 0;
}

button {
    padding: 0.5rem;
    cursor: pointer;
    border-style: solid;
    border-color: var(--color-primary);
    border-radius: 5px;
    color: var(--color-bg);
}

button.primary-button {
    background-color: var(--color-primary);
    margin: 0.5rem;
}

button.secondary-button {
    background-color: var(--color-bg);
    border-color: var(--color-primary);
    color: var(--color-primary);
    margin: 0.5rem;
}

input,
textarea {
    background-color: var(--color-bg);
    border: solid 1px var(--color-primary);
    border-radius: 5px;
    padding: 0.5rem;
    outline: none;
    color: var(--color-text);
}

.text-muted {
    color: var(--color-text-muted);
}

.text-muted a {
    color: var(--color-primary-muted);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-success {
    text-align: center;
    color: lightgreen;
    margin: 3rem auto;
    border: 1px solid;
    padding: 1rem;
}

.text-error {
    text-align: center;
    color: indianred;
    margin: 3rem auto;
    border: 1px solid;
    padding: 1rem;
}

form div {
    margin-bottom: 1rem;
}

/* paginator */
.paginator div {
    margin: 1rem;
}

.paginator a {
    margin: 0 0.5rem;
}

/* page header */
header {
    text-align: center;
}

nav {
    padding-top: 1rem;
    border-bottom: 14px solid transparent;
    border-image: url('/images/retro/menu-border.gif') 0 0 14 0 repeat;
}

nav button {
    margin-bottom: 1rem;
}

nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.navbar-visible {
    display: block;
}

nav li {
    padding: 1rem 0 1rem 0;
}

nav a {
    color: var(--color-menu-link);
}

.logo {
    max-width: 90%;
}

/* page footer */
footer {
    text-align: center;
    border-top: 14px solid transparent;
    border-image: url('/images/retro/menu-border.gif') 14 0 0 0 repeat;
    padding: 2rem;
}

footer a {
    color: var(--color-primary-muted);
    margin: 0 1rem 0 1rem;
}

footer div {
    margin-bottom: 3rem;
}

/* post formatting */
.post-title {
    margin: 0 0 1rem 0;
    text-align: center;
}

.post-text {
    margin: 1rem auto;
}

.post-date {
    display: inline-block;
    width: 49%;
    margin: 0;
}

.post-read-more {
    text-align: right;
    display: inline-block;
    width: 49%;
    margin: 0;
}

.post img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    border-radius: 10px;
}

.post code {
    color: var(--color-code-inline);
}

.post pre code {
    overflow: scroll;
    display: block;
}

/* post eidtor */
.editor-form input,
.editor-form textarea {
    width: 100%;
}

.editor-form textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

.editor-form .post-options input {
    width: auto;
    height: 1rem;
    width: 1rem;
    background-color: var(--color-bg);
}

/* tables */
table {
    border-collapse: collapse;
}

tbody tr {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--color-primary);
}

/* priorities... */
.visible {
    display: block;
}

/* large screen only */
@media (min-width: 840px) {
    main {
        max-width: 840px;
        margin: 3rem auto;
    }

    input {
        width: 50%;
    }

    nav {
        padding: 2rem;
    }

    nav ul {
        display: flex;
        justify-content: center;
        margin: 0;
        gap: 2rem;
        max-height: 24px;
    }

    nav li {
        padding: 0;
    }

    nav li img {
        object-fit: contain;
    }

    nav button {
        display: none;
    }

    .post-text {
        width: 90%;
    }
}

