<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>Admin Panel</title>
</head>

<body>
<div layout:fragment="content">
  <div class="text-center">
    <h1>File Editor</h1>
  </div>
  <form class="editor-form" method="POST" th:action="@{/admin/file/{id}(id=${file.id})}">
    <input name="id" required th:value="${file.id}" type="hidden"/>
    <div>
      <input autoComplete="off" name="filename" placeholder="Filename" required th:value="${file.filename}"
             type="text"/>
    </div>
    <div class="text-center">
      <button class="primary-button" type="submit">Save</button>
    </div>
  </form>
  <form class="editor-form text-center" method="POST" th:action="@{/admin/file/{id}/delete(id=${file.id})}">
    <button class="secondary-button" type="submit">Delete</button>
  </form>
</div>
</body>

</html>
